body 
{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
h1
{
    padding: 20px;
    margin: 0;
    scroll-behavior: smooth;
    text-transform:uppercase ;
    font-size: 50px;
    letter-spacing: 5px;
}
input
{
    margin: 2px;
    text-align: justify;
    width: 130px;
    height: 25px;
    border-radius: 10px;
    border-style: inset;
    background-color: rgb(24, 23, 23);
}
.input
{
    display: block;
    margin: 2px;
    text-align: justify;
    width: 275px;
    border-radius: 10px;
    border-style: inset;
    background-color: rgb(24, 23, 23);
}
form
{
    padding: 20px;
}
fieldset
{
    margin: 5px;
    border-radius: 20px;
    width: 290px;
    background-color: rgba(39, 39, 39, 0.774);
}
.sign 
{
    width: 290px;
    height: 25px;
    text-align: center;
    border-radius: 10px;
    background-color:rgb(24, 78, 11);
    font-size: 15px;
}
.radio
{
    width: unset;
    height: unset;
}
footer
{
    text-size-adjust: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(39, 39, 39, 0.774);
}
legend
{
    text-align: center;
    font-size: 20px;
}
img
{
    border-radius: 5px;
}
